<a href="https://colab.research.google.com/github/Pogayo/Machine-Learning/blob/master/Contextual_Analysis_of_Satisfaction_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import files
uploaded=files.upload()

Saving sat.csv to sat.csv

In [0]:
from textblob import TextBlob
import numpy as np
import pandas as pd
import io
import six    #will be used to check if a variable is a string
import matplotlib.pyplot as plt

In [0]:
raw_data=pd.read_csv(io.BytesIO(uploaded['sat.csv']), header=[1])

In [16]:
raw_data.head()

   Unnamed: 0  ... Would you explain in your own words what need to be improved in the training to increase your satisfaction level?
0         NaN  ...  what I may suggest in front office agents depa...
1         NaN  ...  For me including professional pactices like op...
2         NaN  ...                                                NaN
3         NaN  ...                                                NaN
4         NaN  ...                                                NaN

[5 rows x 41 columns]

In [0]:
raw_data=raw_data[raw_data.Campus.notnull()]
raw_6_musanze=raw_data[(raw_data['Class']>2) & (raw_data['Campus']=="Musanze")]
raw_6_kgl=raw_data[(raw_data['Class']>=11)]
raw_6_combined=pd.concat([raw_6_musanze, raw_6_kgl], ignore_index=True)

In [36]:
improved=raw_6_combined['Would you explain in your own words what need to be improved in the training to increase your satisfaction level?']
improved=improved.drop_duplicates()
improved=improved.dropna()
improved=improved.rename("improve_col")
improved.describe()

count                                    68
unique                                   68
top       internship course will be better.
freq                                      1
Name: improve_col, dtype: object

In [37]:
no_time=0
for index,  comment in improved.items():
  if "time" in comment  or "Time" in comment:
      no_time=no_time+1
print(no_time)

18

In [0]:
polarity=[]
subjectivity=[]
improved_sentiments=pd.DataFrame( data=[], columns=["comment", "polarity", "subjectivity"])

In [0]:
sum_polarity=0
min_improved_polarity=20
max_improved_polarity=-2

for comment in improved:
   blob=TextBlob(comment)
   pol=blob.polarity
   polarity.append(pol)
   sum_polarity+=pol
   if pol>max_improved_polarity:
     max_improved_polarity=pol
   if pol<min_improved_polarity:
     min_improved_polarity=pol

   df=pd.DataFrame({"comment":[comment], "polarity":[pol], "subjectivity":[blob.subjectivity]})
   improved_sentiments=improved_sentiments.append(df, ignore_index=True)
   subjectivity.append(blob.subjectivity)

In [44]:
avg_improved_polarity=sum_polarity/improved.size
print("Average Polarity: "+str(avg_improved_polarity))
print("Maximum Polarity: "+str(max_improved_polarity))
print("Minimum Polarity: "+str(min_improved_polarity))

Average Polarity:0.1427201797385621
Maximum Polarity:1.0
Minimum Polarity:-0.3

In [34]:
improved_sentiments.sort_values("polarity", inplace=True)
improved_sentiments.head(10)

                                              comment  polarity  subjectivity
4   Reducing the mark for sartifite at least it ca... -0.300000      0.400000
92  To help the students to get the transport  bec... -0.291667      0.541667
0   I would like to ask vatel training to help tra... -0.133333      0.600000
99  to have other training that can help me to be ... -0.125000      0.375000
40  When vatel increase a time of training it is h... -0.100000      0.050000
78  I would like to ask the management of Vatel to... -0.033333      0.433333
62                                          i want it  0.000000      0.000000
59  Increase time, practical space should also be ...  0.000000      0.000000
58  Every one who finished has cramming in vatel t...  0.000000      0.000000
56                      increase the time of training  0.000000      0.000000

In [41]:
pctg_after=18/68
pctg_overall=107/318
print("Percentage of time mention overall: "+str(pctg_overall))
print("Percentage of time mention after time has been increase: "+str(pctg_after))

Percentage of time mention overall:0.33647798742138363
Percentage of time mention after time has been increase:0.2647058823529412

In [45]:
print("Overall average polarity: 0.1791349021058141" )
print("Average polarity after time change to 6 weeks: 0.1427201797385621 " )

Overall average polarity: 0.1791349021058141
Average polarity after time change to 6 weeks: 0.1427201797385621

###Revision of the curriculum.
Started in batch 6 Kigali. Going to investigate the polarity before and polarity after.

In [49]:
before_revision=raw_data[(raw_data['Class']<6) & (raw_data['Campus']!="Musanze")]
after_revision_kgl=raw_data[(raw_data['Class']>=6) ]
musanze=raw_data[raw_data['Campus']=="Musanze"]
after_revision_combined=pd.concat([after_revision_kgl,musanze], ignore_index=True)
after_revision_combined.describe()

       Unnamed: 0  ...  On a scale of zero to ten (10 being extremely likely and 0 being not at all likely),how likely are you to recommend Vatel training to another student/ friend or colleague?”
count         0.0  ...                                         252.000000
mean          NaN  ...                                           8.928571
std           NaN  ...                                           1.680346
min           NaN  ...                                           1.000000
25%           NaN  ...                                           8.000000
50%           NaN  ...                                          10.000000
75%           NaN  ...                                          10.000000
max           NaN  ...                                          10.000000

[8 rows x 3 columns]